@media(max-width: 3840px) and (max-height: 2160px) {
    .yuca {
        width: 20%;
        bottom: -6.5rem;
    }
    .yuca-chiken {
        width: 15%;
        bottom: 36.5rem;
    }    
    .nerd-chiken {  
        width: 15%;
        bottom: 29.5rem;
    }
    .gladiator-chiken{
        width: 15%;
        bottom: -9.5rem;
    }
    .building-center {
        width: 55%;
        top: 18.5rem;
    }
    .count-down-card{
        width: 410px;
        height: 550px;
        border-width: 0.5rem;
    }
    .count-down-text-card{
        width: 410px;
        font-size: 4rem;
    }
}
@media(max-width: 2560px) and (max-height: 1140px){
    .yuca {
        width: 20%;
        bottom: -4.5rem;
    }
    .yuca-chiken {
        width: 15%;
        bottom: 23.5rem;
    }    
    .nerd-chiken {
        bottom: 19.5rem;
    }
    .gladiator-chiken{
        width: 15%;
        bottom: -6.5rem;
    }
    .building-center {
        width: 55%;
        top: 10.5rem;
    }
    .countdown-number{
        font-size: 6rem;
    }
    .count-down-card{
        width: 210px;
        height: 280px;
        border-width: 0.5rem;
        border-radius: 2rem;
    }
    .count-down-text-card{
        width: 210px;
        font-size: 2rem;
    }
}
@media(max-width: 1920px) and (max-height: 1080px) {
    .yuca {
        width: 20%;
        bottom: -3.5rem;
    }
    .yuca-chiken {
        width: 15%;
        bottom: 15.5rem;
    }    
    .nerd-chiken {
        bottom: 12.5rem;
    }
    .gladiator-chiken{
        width: 15%;
        bottom: -4.5rem;
    }
    .building-center {
        width: 55%;
        top: 10.5rem;
    }
    .count-down-card{
        width: 240px;
        height: 310px;
        border-width: 0.5rem;
    }
    .count-down-text-card{
        width: 240px;
        font-size: 2rem;
    }
}
@media(max-width: 1366px) and (max-height: 768px) {
    .yuca {
        width: 20%;
        bottom: -3rem;
    }
    .yuca-chiken {
        width: 15%;
        bottom: 11.5rem;
    }    
    .nerd-chiken {
        bottom: 10.5rem;
    }
    .gladiator-chiken{
        width: 15%;
        bottom: -3rem;
    }
    .building-center {
        width: 55%;
        top: 9.5rem;
    }
    .count-down-card{
        width: 170px;
        height: 240px;
        border-width: 0.25rem;
        border-radius: 1.5rem;
    }
    .count-down-text-card{
        width: 170px;
        font-size: 1.5rem;
    }
}
@media(max-width: 1280px) and (max-height: 800px) {
    .yuca {
        width: 20%;
        bottom: -2.5rem;
    }
    .yuca-chiken {
        width: 15%;
        bottom: 11.5rem;
    }    
    .nerd-chiken {
        bottom: 9.5rem;
    }
    .gladiator-chiken{
        width: 15%;
        bottom: -3.5rem;
    }
    .building-center {
        width: 55%;
        top: 8.5rem;
    }
}
@media(max-width: 1024px) and (max-height: 600px) {
    .yuca {
        width: 20%;
        bottom: -1.5rem;
    }
    .yuca-chiken {
        width: 15%;
        bottom: 7.5rem;
    }    
    .nerd-chiken {
        bottom: 6.5rem;
    }
    .gladiator-chiken{
        width: 15%;
        bottom: -2.5rem;
    }
    .building-center {
        width: 55%;
        top: 6.5rem;
    }
}