@media(max-width: 3840px) and (max-height: 2160px) {
    .building-center {
        width: 55%;
        top: 18.5rem;
    }
    .count-down-card{
        width: 410px;
        height: 550px;
        border-width: 0.5rem;
    }
    .count-down-text-card{
        width: 410px;
        font-size: 4rem;
    }
    .sun{
        scale: 1.2;
        bottom: -80rem;
    }
    .welcoming-logo{
        width: 50%;
    }
    .countdown-number{
        font-size: 8rem;
    }
    .chiken-yuca{
        width: 20%;
        bottom: 20rem;
    }
    .left-yuca{
        width: 25%;
        bottom: -2.75rem;
    }
    .gladiator{
        width: 25%;
        bottom: -5rem;
        right: 3rem;
    }
    .plant-right{
        width: 20%;
        bottom: -0.5rem;
    }
    .nerd{
        width: 25%;
        bottom: 9.5rem;
    }
}
@media(max-width: 2560px) and (max-height: 1140px){
    .wall-left, .wall-right {
        width: 20%;
    }
    .wall-left {
        left: 0;
    }
    .wall-right {
        right: 0;
    }
    .building-center {
        width: 55%;
        top: 10.5rem;
    }
    .welcoming-logo{
        width: 40%;
    }
    .countdown-number{
        font-size: 6rem;
    }
    .count-down-card{
        width: 300px;
        height: 370px;
        border-width: 0.5rem;
        border-radius: 2rem;
    }
    .count-down-text-card{
        width: 300px;
        font-size: 2rem;
    }
    .sun{
        scale: 0.9;
        bottom: -55.5rem;
    }
    .chiken-yuca{
        width: 15%;
        bottom: 22.5rem;
    }
    .left-yuca{
        width: 20%;
        bottom: -4.5rem;
    }
    .gladiator{
        width: 20%;
        bottom: -8.5rem;
        right: 3rem;
    }
    .plant-right{
        width: 15%;
        bottom: -0.5rem;
    }
    .nerd{
        width: 17.5%;
        bottom: 18.5rem;
    }
}
@media(max-width: 1920px) and (max-height: 1080px) {
    .building-center {
        width: 55%;
        top: 10.5rem;
    }
    .count-down-card{
        width: 230px;
        height: 290px;
        border-width: 0.5rem;
    }
    .count-down-text-card{
        width: 230px;
        font-size: 2rem;
    }
    .sun{
        scale: 0.8;
        bottom: -40.5rem;
    }
    .chiken-yuca{
        width: 15%;
        bottom: 17.5rem;
    }
    .left-yuca{
        width: 20%;
        bottom: -3.5rem;
    }
    .gladiator{
        width: 20%;
        bottom: -6rem;
        right: 3rem;
    }
    .plant-right{
        width: 15%;
        bottom: -0.5rem;
    }
    .nerd{
        width: 17.5%;
        bottom: 13.5rem;
    }
}

@media(max-width: 1728px) and (max-height: 1117px) {
    .building-center {
        width: 55%;
        top: 10.5rem;
    }
    .count-down-card{
        width: 230px;
        height: 290px;
        border-width: 0.5rem;
    }
    .count-down-text-card{
        width: 230px;
        font-size: 2rem;
    }
    .sun{
        scale: 0.8;
        bottom: -40.5rem;
    }
    .chiken-yuca{
        width: 15%;
        bottom: 15.5rem;
    }
    .left-yuca{
        width: 20%;
        bottom: -3rem;
    }
    .gladiator{
        width: 20%;
        bottom: -5.5rem;
        right: 3rem;
    }
    .plant-right{
        width: 15%;
        bottom: -0.5rem;
    }
    .nerd{
        width: 17.5%;
        bottom: 12.5rem;
    }
}
@media(max-width: 1512px) and (max-height: 982px){
    .building-center {
        width: 55%;
        top: 10.5rem;
    }
    .sun{
        bottom: -30.5rem;
    }
    .count-down-card{
        width: 180px;
        height: 250px;
        border-width: 0.3rem;
    }
    .count-down-text-card{
       width: 180px;
        font-size: 2rem;
    }
    .chiken-yuca{
        width: 15%;
        bottom: 14rem;
    }
    .left-yuca{
        width: 20%;
        bottom: -2.75rem;
    }
    .gladiator{
        width: 20%;
        bottom: -5rem;
        right: 3rem;
    }
    .plant-right{
        width: 15%;
        bottom: -0.5rem;
    }
    .nerd{
        width: 20%;
        bottom: 9.5rem;
    }
}

@media(max-width: 1366px) and (max-height: 768px) {
    .chiken-yuca{
        width: 15%;
        bottom: 12.5rem;
    }
    .left-yuca{
        width: 20%;
        bottom: -2.5rem;
    }
    .gladiator{
        width: 20%;
        bottom: -4.5rem;
        right: 4rem;
    }
    .plant-right{
        width: 15%;
        bottom: -0.5rem;
    }
    .nerd{
        width: 20%;
        bottom: 8.5rem;
    }
    .building-center {
        width: 55%;
        top: 9.5rem;
    }
    .count-down-card{
        width: 165px;
        height: 240px;
        border-width: 0.25rem;
        border-radius: 1.5rem;
    }
    .count-down-text-card{
        width: 165px;
        font-size: 1.5rem;
    }
    .sun
    {
        scale: 0.9;
        bottom: -28.5rem;
    }
}
@media(max-width: 1280px) and (max-height: 800px) {
    .gladiator-chiken{
        width: 15%;
        bottom: -3.5rem;
    }
    .building-center {
        width: 55%;
        top: 8.5rem;
    }
}
@media(max-width: 1024px) and (max-height: 600px) {
    .gladiator-chiken{
        width: 15%;
        bottom: -2.5rem;
    }
    .building-center {
        width: 55%;
        top: 6.5rem;
    }
}