@media(max-width: 3840px) and (max-height: 2160px) {
   .leaves-left, .leaves-right {
        width: 30.5rem;
        height: 30.5rem;
    }
    .luminate-logo{
        width: 100%;
    }
     .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2.5rem;
    }
}
@media(max-width: 2850px) and (max-height: 1800px){
    .leaves-left, .leaves-right {
        width: 20.5rem;
        height: 20.5rem;
    }
    .luminate-logo{
        width: 100%;
    }
     .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2.5rem;
    }
}
@media(max-width: 2560px) and (max-height:1600px){
    .luminate-logo{
        width: 100%;
    }
    .leaves-left, .leaves-right {
        width: 20.5rem;
        height: 20.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
    }
}
@media(max-width: 2560px) and (max-height: 1140px){
    .luminate-logo{
        width: 100%;
    }
    .leaves-left, .leaves-right {
        width: 20.5rem;
        height: 20.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
    }
}
@media(max-width: 1920px) and (max-height: 1080px) {
    .luminate-logo{
        width: 100%;
    }
    .leaves-left, .leaves-right {
        width: 15.5rem;
        height: 15.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.5rem;
    }
}

@media(max-width: 1728px) and (max-height: 1117px) {
    
}
@media(max-width: 1512px) and (max-height: 982px){
    
}

@media(max-width: 1366px) and (max-height: 768px) {
    
}
@media(max-width: 1280px) and (max-height: 800px) {
   
}

@media(max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .luminate-logo{
        width: 80%;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.2em;
    }
}
@media(max-width: 1024px) and (max-height: 600px) {
    .luminate-logo{
        width: 90%;
    }
    .leaves-left, .leaves-right {
        width: 15.5rem;
        height: 15.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
    }
}
@media(max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
    .luminate-logo{
        width: 80%;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.35em;
    }
}
@media(max-width: 820px) and (max-height: 1180px) and (orientation: portrait) {
    .luminate-logo{
        width: 80%;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .luminate-logo{
        width: 80%;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
    .luminate-logo{
        width: 80%;
    }
    .leaves-left, .leaves-right {
        width: 10rem;
        height: 10rem;
        top:-2.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 720px) and (max-height: 540px) and (orientation: landscape) {
    .luminate-logo{
        width: 80%;
    }
    .leaves-left, .leaves-right {
        width: 10rem;
        height: 10rem;
        top:-2.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 540px) and (max-height: 720px) and (orientation: portrait){
    .luminate-logo{
        width: 50%;
    }
    .leaves-left, .leaves-right {
        width: 5.5rem;
        height: 5.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}
@media(max-width: 440px) and (max-height: 956px) and (orientation: portrait) {
    .luminate-logo{
        width: 50%;
    }
    .leaves-left, .leaves-right {
        width: 6.5rem;
        height: 6.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}
@media(max-width: 430px) and (max-height: 932px) and (orientation: portrait) {
    .luminate-logo{
        width: 50%;
    }
    .leaves-left, .leaves-right {
        width: 5.5rem;
        height: 5.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}
@media(max-width: 344px) and (max-height: 882px) and (orientation: portrait) {
    .luminate-logo{
        width: 50%;
    }
    .leaves-left, .leaves-right {
        width: 5.5rem;
        height: 5.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}