@media(max-width: 3840px) and (max-height: 2160px) {
   .leaves-left, .leaves-right {
        width: 30.5rem;
        height: 30.5rem;
    }
    .luminate-logo{
        width: 3.25%;
    }
    .uc-navbar-logo{
        width: 3.5%;
        height: auto;
    }
     .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2.5rem;
    }
}
@media(max-width: 2850px) and (max-height: 1800px){
    .leaves-left, .leaves-right {
        width: 20.5rem;
        height: 20.5rem;
    }
    .luminate-logo{
        width: 4.5%;
    }
    .uc-navbar-logo{
        width: 5%;
        height: auto;
    }
     .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2.5rem;
    }
}
@media(max-width: 2560px) and (max-height:1600px){
    .luminate-logo{
        width: 4.5%;
    }
    .uc-navbar-logo{
        width: 5%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 20.5rem;
        height: 20.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
    }
}
@media(max-width: 2560px) and (max-height: 1140px){
    .luminate-logo{
        width: 4.5%;
    }
    .uc-navbar-logo{
        width: 5%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 20.5rem;
        height: 20.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 2rem;
    }
}
@media(max-width: 1920px) and (max-height: 1080px) {
    .luminate-logo{
        width: 5.5%;
    }
    .uc-navbar-logo{
        width: 6%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15.5rem;
        height: 15.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.5rem;
    }
}
@media(max-width:1900px) and (max-height: 1200px){
    .luminate-logo{
        width: 6.5%;
    }
    .uc-navbar-logo{
        width: 7%;
        height: auto;
    }
}
@media(max-width: 1728px) and (max-height: 1117px) {
    .luminate-logo{
        width: 7.5%;
    }
    .uc-navbar-logo{
        width: 8%;
        height: auto;
    }
}
@media(max-width: 1512px) and (max-height: 982px){
    
}

@media(max-width: 1366px) and (max-width: 1024px){
    .luminate-logo{
        width: 10.5%;
    }
    .uc-navbar-logo{
        width: 11%;
        height: auto;
    }
}

@media(max-width: 1366px) and (max-height: 768px) {
    .luminate-logo{
        width: 8.5%;
    }
    .uc-navbar-logo{
        width: 9%;
        height: auto;
    }
}
@media(max-width: 1280px) and (max-height: 800px) {
    .luminate-logo{
        width: 9.5%;
    }
    .uc-navbar-logo{
        width: 10%;
        height: auto;
    }
}
@media(max-width: 1180px) and (max-height: 820px) and (orientation: landscape) {
    .luminate-logo{
        width: 12.5%;
    }
    .uc-navbar-logo{
        width: 13%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15.5rem;
        height: 15.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.2em;
    }
}
@media(max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
    .luminate-logo{
        width: 15.5%;
    }
    .uc-navbar-logo{
        width: 16%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.2em;
    }
}
@media(max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .luminate-logo{
        width: 12.5%;
    }
    .uc-navbar-logo{
        width: 13%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15.5rem;
        height: 15.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.2em;
    }
}
@media(max-width: 1024px) and (max-height: 600px) {
    .luminate-logo{
        width: 12.5%;
    }
    .uc-navbar-logo{
        width: 13%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15.5rem;
        height: 15.5rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
    }
}
@media(max-width: 980px) and (max-height: 1795px) and (orientation: portrait) {
    .luminate-logo{
        width: 24.5%;
    }
    .uc-navbar-logo{
        width: 25%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.35em;
    }
}
@media(max-width: 932px) and (max-height: 430px) and (orientation: landscape){
    .luminate-logo{
        width: 24.5%;
    }
    .uc-navbar-logo{
        width: 25%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.35em;
    }
}
@media(max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
    .luminate-logo{
        width: 25.5%;
    }
    .uc-navbar-logo{
        width: 26%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.35em;
    }
}
@media(max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
    .luminate-logo{
        width: 24.5%;
    }
    .uc-navbar-logo{
        width: 25%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.5rem 1.5rem;
        font-size: 1.35em;
    }
}
@media(max-width: 820px) and (max-height: 1180px) and (orientation: portrait) {
    .left-logo-wrapper{
        gap:0.5rem;
    }
    .luminate-logo{
        width: 24.5%;
    }
    .uc-navbar-logo{
        width: 25%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    .luminate-logo{
        width: 29.5%;
    }
    .uc-navbar-logo{
        width: 30%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 15rem;
        height: 15rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
    .luminate-logo{
        width: 80%;
    }
    .leaves-left, .leaves-right {
        width: 10rem;
        height: 10rem;
        top:-2.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
    .luminate-logo{
        width: 8%;
    }
    .uc-navbar-logo{
        width: 8.5%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 10rem;
        height: 10rem;
        top:-2.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 720px) and (max-height: 540px) and (orientation: landscape) {
    .luminate-logo{
        width: 8.5%;
    }
    .uc-navbar-logo{
        width: 8%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 10rem;
        height: 10rem;
        top:-2.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 667px) and (max-height: 375px) and (orientation: landscape){
    .luminate-logo{
        width: 9%;
    }
    .uc-navbar-logo{
        width: 9.5%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 10rem;
        height: 10rem;
        top:-2.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 1rem;
        font-size: 1.2em;
    }
}
@media(max-width: 540px) and (max-height: 720px) and (orientation: portrait){
    .luminate-logo{
        width: 8.5%;
    }
    .uc-navbar-logo{
        width: 9%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 5.5rem;
        height: 5.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}
@media(max-width: 459px) and (max-height: 841px) and (orientation: portrait) {
    .luminate-logo{
        width: 12.5%;
    }
    .uc-navbar-logo{
        width: 13%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 6.5rem;
        height: 6.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}
@media(max-width: 440px) and (max-height: 956px) and (orientation: portrait) {
    .luminate-logo{
        width: 12.5%;
    }
    .uc-navbar-logo{
        width: 13%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 6.5rem;
        height: 6.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}
@media(max-width: 430px) and (max-height: 932px) and (orientation: portrait) {
    .left-logo-wrapper{
        gap: 0.5rem;
    }
     .luminate-logo{
        width: 11.5%;
    }
    .uc-navbar-logo{
        width: 12%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 5.5rem;
        height: 5.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}
@media(max-width: 344px) and (max-height: 882px) and (orientation: portrait) {
    .luminate-logo{
        width: 14.5%;
    }
    .uc-navbar-logo{
        width: 15%;
        height: auto;
    }
    .leaves-left, .leaves-right {
        width: 5.5rem;
        height: 5.5rem;
    }
    .leaves-left{
        left: -1rem;
    }
    .leaves-right{
        right: -1rem;
    }
    .button-navbar, .button-navbar-selected {
        padding: 0.25rem 0.75rem;
        font-size: 0.5em;
    }
}