@media(max-width: 3840px) and (max-height: 2160px) {
    .rules-logo{
        width: 50%;
    }
    .rules-card{
        min-height: 70rem;
        margin-top: 2rem;
    }
    .dropdown{
        width: 80%;
        height: 8rem;
        max-width: 80rem;
    }
    .text{
        font-size: 1.8rem;
    }
    .text-description{
        max-width: 90rem;
        max-height: 50rem;
    }
}
@media(max-width: 2560px) and (max-height:1600px){
    .rules-logo{
        width: 45%;
    }
    .rules-card{
        min-height: 40rem;
        margin-top: 2rem;
    }
    .dropdown{
        width: 80%;
        height: 5rem;
        max-width: 80rem;
    }
    .text{
        font-size: 1.8rem;
    }
    .text-description{
        max-width: 90rem;
        max-height: 50rem;
    }
}
@media(max-width: 2560px) and (max-height: 1140px){
    .rules-logo{
        width: 40%;
        margin-top: -2%;
    }
    .sun{
        bottom: -60%;
    }
}
@media(max-width: 1920px) and (max-height: 1080px) {
    .rules-logo{
        width: 40%;
        margin-top: -5%;
    }
    .rules-card{
        min-height: 35rem;
    }
    .dropdown{
        width: 80%;
        height: 4rem;
        max-width: 50rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .text-description{
        max-width: 60rem;
        max-height: 30rem;
    }
}

@media(max-width: 1728px) and (max-height: 1117px) {
    .rules-logo{
        width: 35%;
    }
    .rules-card{
        min-height: 35rem;
    }
    .dropdown{
        width: 80%;
        height: 4rem;
        max-width: 50rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .text-description{
        max-width: 60rem;
        max-height: 30rem;
    }
}
@media(max-width: 1512px) and (max-height: 982px){
    
}
@media(max-width: 1366px) and (max-height: 1024px){
    .rules-logo{
        width: 40%;
    }
    .rules-card{
        min-height: 35rem;
    }
    .dropdown{
        width: 80%;
        height: 4rem;
        max-width: 40rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .text-description{
        max-width: 60rem;
        max-height: 30rem;
    }
}
@media(max-width: 1366px) and (max-height: 768px) {
   
}
@media(max-width: 1280px) and (max-height: 800px) {
    .rules-logo{
        width: 40%;
    }
    .rules-card{
        max-width: 50rem;
        min-height: 30rem;
    }
    .dropdown{
        width: 80%;
        height: 4rem;
        max-width: 40rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .text-description{
        max-width: 60rem;
        max-height: 30rem;
    }
}

@media(max-width: 1180px) and (max-height: 820px){
    
}
@media(max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {

}

@media(max-width: 1024px) and (max-height: 768px) {
   
}
@media(max-width: 1024px) and (max-height: 600px) {
    .rules-logo{
        width: 40%;
    }
    .rules-card{
        max-width: 30rem;
        min-height: 10rem;
    }
    .dropdown{
        width: 80%;
        height: 4rem;
        max-width: 30rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .text-description{
        max-width: 60rem;
        max-height: 20rem;
    }
}