:root {
  background-color: #e7bc68;
  --button-left-gradient: #fff0b8;
  --button-right-gradient: #fff0b8;
  --button-left-border: #f2b028;
  --button-right-border: #fff0b8;

  --countdown-top-gradient: #75abdc;
  --countdown-right-gradient: #b2d5f1;
  --countdown-bottom-gradient: #fff0b8;
  --countdown-card: #fff0b8;
  --main-font: "Lettertype";
  --main-font-url: "/fonts/Lettertype.ttf";
}

.schedule-card {
  border: 6px solid transparent;
  background-image: linear-gradient(
      180deg,
      var(--countdown-card),
      var(--countdown-card)
    ),
    radial-gradient(circle at top, #75abdc, #fff0b8);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-blend-mode: screen;
  opacity: 100%;
  padding: 1rem;
}
.button-font {
  font-family: var(--main-font);
  src: var(--main-font-url);
  font-size: 30px;
  color: #ffffff;
}
.button-schedule {
  background: linear-gradient(
    90deg,
    var(--button-left-gradient),
    var(--button-right-gradient)
  );
  cursor: pointer;
  border: 4px solid transparent;

  background-image: linear-gradient(
      90deg,
      var(--countdown-top-gradient),
      var(--countdown-right-gradient)
    ),
    radial-gradient(circle at top left, #f2b028, #fff0b8);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.schedule-title-img-mb {
  display: none;
}
.schedule-title-img {
  display: block;
}
@media (max-width: 3840px) and (max-height: 2160px) {
  .schedule-card {
    width: 50rem;
    min-height: 35rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 12rem;

  }
  .title-owik {
    font-size: 7rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
  }
  .schedule-title-img{
    width: 48%;

  }
  .title-img{
    width: 60rem;
    padding-bottom: 15rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    line-height: 4rem;
  }
  .schedule-item-desc{
    font-size: 2rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .button-left{
    width: 8rem;
    height: auto;
    margin: 3rem;
  }
  .button-right{
    width: 8rem;
    height: auto;
    margin: 3rem;
  }
  .button-schedule{
    padding: 2rem;
    width: 20rem;
    font-size: 2.4rem;
  }
  .button-dresscode{
    width: 15rem;
    height: auto;
  }
  .bebekiri{
    width: 50rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 50rem;
  }
  .star{
    width: 150rem;
  }
}
@media (max-width: 2850px) and (max-height: 1800px) {
  .schedule-card {
    width: 50rem;
    min-height: 30rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 10rem;

  }
  .title-owik {
    font-size: 6rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 49%;

  }
  .title-img{
    width: 60rem;
    padding-bottom: 10rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
  }
  .schedule-item-desc{
    font-size: 2rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 6rem;
    height: auto;
    margin: 3rem;
  }
  .button-right{
    width: 6rem;
    height: auto;
    margin: 3rem;
  }
  .button-schedule{
    padding: 2rem;
    width: 15rem;
    font-size: 2rem;
  }
  .button-dresscode{
    width: 10rem;
    height: auto;
  }
  .bebekiri{
    width: 50rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 50rem;
  }
    .star{
    width: 100rem;
  }
}
@media (max-width: 2560px) and (max-height: 1600px) {
  .schedule-card {
    width: 50rem;
    min-height: 30rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 6rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 49%;

  }
  .title-img{
    width: 60rem;
    padding-bottom: 10rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
  }
  .schedule-item-desc{
    font-size: 2rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 1.5rem;
    width: 12rem;
    font-size: 1.5rem;
  }
  .button-dresscode{
    width: 8rem;
    height: auto;
  }
  .bebekiri{
    width: 40rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 40rem;
  }
    .star{
    width: 100rem;
  }
}
@media (max-width: 2560px) and (max-height: 1140px) {
  .schedule-card {
    width: 50rem;
    min-height: 30rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 6rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 49%;

  }
  .title-img{
    width: 60rem;
    padding-bottom: 10rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
  }
  .schedule-item-desc{
    font-size: 2rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 1.2rem;
    width: 12rem;
    font-size: 1.5rem;
  }
  .button-dresscode{
    width: 8rem;
    height: auto;
  }
  .bebekiri{
    width: 40rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 40rem;
  }
    .star{
    width: 100rem;
  }
}
@media (max-width: 1920px) and (max-height: 1080px) {
 .schedule-card {
    width: 30rem;
    min-height: 24rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 55%;

  }
  .title-img{
    width: 60rem;
    padding-bottom: 5rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 1.2rem;
    width: 12rem;
    font-size: 1.5rem;
  }
  .button-dresscode{
    width: 8rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 25rem;
  }
    .star{
    width: 100rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1900px) and (max-height: 1200px) {
  .schedule-card {
    width: 30rem;
    min-height: 25rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 3rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 55%;

  }
  .title-img{
    width: 60rem;
    padding-bottom: 5rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 6rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 1.2rem;
    width: 12rem;
    font-size: 1.5rem;
  }
  .button-dresscode{
    width: 8rem;
    height: auto;
  }
  .bebekiri{
    width: 30rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 30rem;
  }
    .star{
    width: 100rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1728px) and (max-height: 1117px) {
   .schedule-card {
    width: 30rem;
    min-height: 25rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 3rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-top: 10%;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 60%;

  }
  .title-img{
    width: 60rem;
    padding-bottom: 5rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 1.2rem;
    width: 12rem;
    font-size: 1.5rem;
  }
  .button-dresscode{
    width: 8rem;
    height: auto;
  }
  .bebekiri{
    width: 30rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 30rem;
  }
    .star{
    width: 100rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1536px) and (max-height: 960px) {
  .schedule-card {
    width: 30rem;
    min-height: 25rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 3rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-top: 5%;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 64%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 5rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 1.2rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 6rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 25rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1536px) and (max-height: 982px) and (min-height: 981px) {
.schedule-card {
    width: 30rem;
    min-height: 25rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 3rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-top: 5%;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
  .schedule-title-img{
    width: 64%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 5rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 1.2rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 6rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 25rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (min-width: 1367px) and (max-width: 1512px) and (max-height: 982px) {
.schedule-card {
    width: 30rem;
    min-height: 25rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-top: 7%;
    margin-bottom: 1rem;
    padding-bottom: 7rem;
  }
  .schedule-title-img{
    width: 72%;
  }
  .title-img{
    width: 40rem;
    padding-bottom: 12rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

  }
  .schedule-sessions-list{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.9rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 6rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 25rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1425px) and (max-height: 900px) {
}
@media (max-width: 1368px) and (max-height: 912px) {
  .schedule-card {
    width: 30rem;
    min-height: 20rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 3.5rem;
    margin-top: 7%;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
  }
  .schedule-title-img{
    width: 65%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 12rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.9rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 6rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
.schedule-card {
    width: 30rem;
    min-height: 20rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 3.5rem;
    margin-top: 7%;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
  }
  .schedule-title-img{
    width: 65%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 12rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.9rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 6rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1366px) and (max-height: 768px) {
  .schedule-card {
    width: 30rem;
    min-height: 20rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 3.5rem;
    margin-top: 7%;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
  }
  .schedule-title-img{
    width: 65%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 12rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.9rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 6rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 25rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1280px) and (max-height: 853px) {
  .schedule-card {
    width: 30rem;
    min-height: 19rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 5rem;

  }
  .title-owik {
    font-size: 3.5rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
  }
  .schedule-title-img{
    width: 69%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 12rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.9rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 6rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    width: 68%;
    gap: 1rem;
  }
}
@media (max-width: 1280px) and (max-height: 570px) {
}
@media (max-width: 1280px) and (max-height: 570px) {
}
@media (max-width: 1180px) and (max-height: 820px) {
    .schedule-card {
    width: 30rem;
    min-height: 19rem;
    padding-top: 3rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 2rem;

  }
  .title-owik {
    font-size: 3.5rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 3.5rem;
  }
  .schedule-title-img{
    width: 69%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 12rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.9rem;
    width: 9rem;
    font-size: 1.1rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
      justify-content: center;

  }
}
@media (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 90%;
    margin-bottom: -4rem;
  }
  .pillar-left{
    left: -2rem;
  }
  .pillar-right{
    right: -2rem;
  }
  .schedule-card {
    width: 25rem;
    min-height: 19rem;
    padding-top: 2rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
    .button-dresscode{
    min-width: 6rem;
    height: auto;
  }
  .schedule-wrapper {
    padding-bottom: 25rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 7rem;
  }
    .title-img{
    width: 35rem;
    padding-bottom: 25rem;
  }
  .bebekiri{
    width: 30rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 25rem;
  }
    .schedule-button-group {
      margin: auto;
      justify-content: center;
    }
    .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
     .schedule-card {
    width: 25rem;
    min-height: 18rem;
    padding-top: 2rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 2rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  .schedule-title-img{
    width: 69%;

  }
  .title-img{
    width: 30rem;
    padding-bottom: 6rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 1rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
    .button-left{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.5rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .bebekiri{
    width: 17rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 13rem;
  }
    .star{
    width: 70rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
    .schedule-card {
    width: 25rem;
    min-height: 18rem;
    padding-top: 2.5rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 1rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
    padding-top: 4rem;
  }
  .schedule-title-img{
    width: 72%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 4rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.6rem;
    width: 9rem;
    font-size: 0.9rem;
  }
  .button-dresscode{
    width: 5rem;
    height: auto;
  }
  .bebekiri{
    width: 18rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 15rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
    width: 62%;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 960px) and (max-height: 540px) {
}
@media (max-width: 956px) and (max-height: 440px) and (orientation: landscape) {
}
@media (max-width: 932px) and (max-height: 430px) {
.schedule-card {
    width: 25rem;
    min-height: 16rem;
    padding-top: 2rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 1rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
    padding-top: 8rem;
  }
  .schedule-title-img{
    width: 72%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 4rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.6rem;
    width: 9rem;
    font-size: 0.9rem;
  }
  .button-dresscode{
    width: 5rem;
    height: auto;
  }
  .bebekiri{
    width: 18rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 15rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 915px) and (max-height: 412px) and (orientation: landscape) {
.schedule-card {
    width: 25rem;
    min-height: 15rem;
    padding-top: 1.5rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 2rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
  }
  .schedule-title-img{
    width: 69%;

  }
  .title-img{
    width: 25rem;
    padding-bottom: 10rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
  }
    .button-left{
    width: 2.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 2.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 7rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .bebekiri{
    width: 18rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 15rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 914px) and (max-height: 412px) and (orientation: landscape) {
  .schedule-card {
    width: 25rem;
    min-height: 15rem;
    padding-top: 1.5rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 2rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
  }
  .schedule-title-img{
    width: 69%;

  }
  .title-img{
    width: 25rem;
    padding-bottom: 10rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
  }
    .button-left{
    width: 2.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 2.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 7rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .bebekiri{
    width: 18rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 15rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 912px) and (max-height: 1368px) and (orientation: portrait) {
    .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 90%;
    margin-bottom: -4rem;
  }
  .pillar-left{
    left: -2rem;
  }
  .pillar-right{
    right: -2rem;
  }
  .schedule-card {
    width: 23rem;
    min-height: 16rem;
    padding-top: 1.5rem;
    margin-top: 2rem;
  }
  .button-schedule {
    padding: 0.5rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
      .button-left{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
    .button-dresscode{
    width: 20rem;
    height: auto;
  }
  .schedule-wrapper {
    padding-bottom: 20rem;

  }
  .title-owik {
    font-size: 3.4rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
  }
    .title-img{
    width: 35rem;
    padding-bottom: 20rem;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .schedule-button-group {
      margin: auto;
      justify-content: center;  }
    .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 0.4rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
.schedule-card {
    width: 25rem;
    min-height: 16rem;
    padding-top: 2rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 0rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 10rem;
  }
  .schedule-title-img{
    width: 72%;

  }
  .title-img{
    width: 30rem;
    padding-bottom: 3rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.6rem;
    width: 9rem;
    font-size: 0.9rem;
  }
  .button-dresscode{
    width: 5rem;
    height: auto;
  }
  .bebekiri{
    width: 18rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 15rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 882px) and (max-height: 344px) and (orientation: landscape) {
  .schedule-card {
    width: 25rem;
    min-height: 15rem;
    padding-top: 1.5rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 2rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 10%;
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
  }
  .schedule-title-img{
    width: 72%;

  }
  .title-img{
    width: 25rem;
    padding-bottom: 12rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.65rem;
    margin-bottom: 0.5rem;
  }
    .button-left{
    width: 2.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 2.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 7rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .bebekiri{
    width: 18rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 15rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 853px) and (max-height: 1280px) and (orientation: portrait) {
    .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 90%;
    margin-bottom: -4rem;
  }
  .pillar-left{
    left: -2rem;
  }
  .pillar-right{
    right: -2rem;
  }
  .schedule-card {
    width: 23rem;
    min-height: 16rem;
    padding-top: 1.5rem;
    margin-top: 2rem;
  }
  .button-schedule {
    padding: 0.5rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
      .button-left{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
    .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .schedule-wrapper {
    padding-bottom: 20rem;

  }
  .title-owik {
    font-size: 3.4rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
  }
    .title-img{
    width: 35rem;
    padding-bottom: 20rem;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .schedule-button-group {
    gap: 10%;
  }
    .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 0.4rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 844px) and (max-height: 390px) {
.schedule-card {
    width: 25rem;
    min-height: 16rem;
    padding-top: 2rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 0rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 10rem;
  }
  .schedule-title-img{
    width: 72%;

  }
  .title-img{
    width: 40rem;
    padding-bottom: 3rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
    .button-left{
    width: 4rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.6rem;
    width: 9rem;
    font-size: 0.9rem;
  }
  .button-dresscode{
    width: 5rem;
    height: auto;
  }
  .bebekiri{
    width: 18rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 15rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 824px) and (max-height: 384px) {
}
@media (max-width: 820px) and (max-height: 1180px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    margin-bottom: -4rem;
  }
  .pillar-left{
    left: -2rem;
  }
  .pillar-right{
    right: -2rem;
  }
  .schedule-card {
    width: 23rem;
    min-height: 16rem;
    padding-top: 1.5rem;
  }
  .button-schedule {
    padding: 0.5rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
      .button-left{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
    .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .schedule-wrapper {
    padding-bottom: 25rem;

  }
  .title-owik {
    font-size: 4rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
  }
    .title-img{
    width: 35rem;
    padding-bottom: 15rem;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .schedule-button-group {
    gap: 10%;
  }
    .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 0.4rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 780px) and (max-height: 360px) {
    .schedule-card {
    width: 20rem;
    min-height: 14rem;
    padding-top: 1rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 4rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 10rem;
  }
  .schedule-title-img{
    width: 80%;

  }
  .title-img{
    width: 30rem;
    padding-bottom: 3rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
    .button-left{
    width: 2rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 6rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 3.5rem;
    height: auto;
  }
  .bebekiri{
    width: 12rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 9rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    margin-bottom: -4rem;
  }
  .pillar-left{
    left: -2rem;
  }
  .pillar-right{
    right: -2rem;
  }
  .schedule-card {
    width: 23rem;
    min-height: 16rem;
    padding-top: 1.5rem;
    margin-top: 2rem;
  }
  .button-schedule {
    padding: 0.5rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
      .button-left{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
    .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .schedule-wrapper {
    padding-bottom: 20rem;

  }
  .title-owik {
    font-size: 3.4rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 5rem;
  }
    .title-img{
    width: 35rem;
    padding-bottom: 20rem;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .schedule-button-group {
    gap: 10%;
  }
    .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 0.4rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 740px) and (max-height: 360px) and (orientation: landscape) {
      .schedule-card {
    width: 20rem;
    min-height: 14rem;
    padding-top: 1rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 3rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 12rem;
  }
  .schedule-title-img{
    width: 80%;

  }
  .title-img{
    width: 30rem;
    padding-bottom: 3rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
    .button-left{
    width: 2rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 6rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 3.5rem;
    height: auto;
  }
  .bebekiri{
    width: 12rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 9rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 720px) and (max-height: 540px) and (orientation: landscape) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    margin-bottom: -4rem;
  }
  .pillar-left{
    left: -5rem;
  }
  .pillar-right{
    right: -5rem;
  }
  .schedule-card {
    width: 23rem;
    min-height: 16rem;
    padding-top: 1.5rem;
    margin-top: 2rem;
  }
  .button-schedule {
    padding: 0.5rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
      .button-left{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3.5rem;
    height: auto;
    margin: 1rem;
  }
    .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .schedule-wrapper {
    padding-bottom: 20rem;

  }
  .title-owik {
    font-size: 3.4rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
  }
    .title-img{
    width: 35rem;
    padding-bottom: 20rem;
  }
  .bebekiri{
    width: 25rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 20rem;
  }
    .schedule-button-group {
    gap: 10%;
  }
    .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 0.4rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  .schedule-card {
    width: 20rem;
    min-height: 14rem;
    padding-top: 1rem;
  }
  .button-schedule {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  .schedule-wrapper {
    padding-bottom: 20rem;

  }
  .title-owik {
    font-size: 2.5rem;
    margin-top: 8%;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 10rem;
  }
  .schedule-title-img{
    width: 80%;

  }
  .title-img{
    width: 30rem;
    padding-bottom: 3rem;
  }

  .title-wrapper{
    margin-top: 1rem;
  }
  .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;

  }
  .schedule-sessions-list{
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }
    .button-left{
    width: 2rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin: 1rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 6rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 3.5rem;
    height: auto;
  }
  .bebekiri{
    width: 12rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 9rem;
  }
    .star{
    width: 50rem;
  }
  .schedule-button-group {
    gap: 1rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
}
@media (max-width: 540px) and (max-height: 720px) and (orientation: portrait) {
    .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    margin-bottom: -4rem;
  }
  .pillar-left{
    left: -5rem;
  }
  .pillar-right{
    right: -5rem;
  }
  .schedule-card {
    width: 23rem;
    min-height: 16rem;
    padding-top: 1.5rem;
    margin-top: 2rem;
  }
  .button-schedule {
    padding: 0.5rem;
    width: 7rem;
    font-size: 0.8rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
      .button-left{
    width: 3rem;
    height: auto;
    margin: 1rem;
  }
  .button-right{
    width: 3rem;
    height: auto;
    margin: 1rem;
  }
    .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .schedule-wrapper {
    padding-bottom: 7rem;

  }
  .title-owik {
    font-size: 2.4rem;
    margin-top: 9%;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 35rem;
    padding-bottom: 10rem;
  }
  .bebekiri{
    width: 15rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 10rem;
  }
    .schedule-button-group {
    gap: 10%;
  }
    .schedule-item-title{
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    line-height: 2rem;
  }
  .schedule-item-desc{
    font-size: 1rem;
    margin-bottom: 0.4rem;

  }
  .schedule-sessions-list{
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
      .star{
    width: 50rem;
  } 
}
@media (max-width: 440px) and (max-height: 956px) and (orientation: portrait) {
  
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 13rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.5rem;
    width: 6rem;
    font-size: 0.8rem;
  }
  .button-dresscode{
    min-width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 9rem;
  }
  .title-owik {
    font-size: 2.4rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 4rem;
  }
    .title-img{
    width: 20rem;
    padding-bottom: 10rem;
  }
  .bebekiri{
    width: 15rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 12rem;
  }
    .schedule-button-group {
      margin: auto;
      justify-content: center;
    }

    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}

@media (max-width: 430px) and (max-height: 932px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 12rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.5rem;
    width: 6rem;
    font-size: 0.8rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 9rem;
  }
  .title-owik {
    font-size: 2.4rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 20rem;
    padding-bottom: 10rem;
  }
  .bebekiri{
    width: 15rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 12rem;
  }
    .schedule-button-group {
    gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0rem;
  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 414px) and (max-height: 896px) and (orientation: portrait) {
.schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 12rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.5rem;
    width: 6rem;
    font-size: 0.8rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 9rem;
  }
  .title-owik {
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 20rem;
    padding-bottom: 10rem;
  }
  .bebekiri{
    width: 12rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 9rem;
  }
    .schedule-button-group {
    gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0rem;
  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 412px) and (max-height: 915px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 13rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 5rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 10rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 7rem;
  }
  .title-owik {
    font-size: 1.8rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 20rem;
    padding-bottom: 5rem;
  }
  .bebekiri{
    width: 10rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 8rem;
  }
    .schedule-button-group {
      width: 65%;
      gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 412px) and (max-height: 914px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 13rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 5rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 7rem;
  }
  .title-owik {
    font-size: 1.8rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 20rem;
    padding-bottom: 5rem;
  }
  .bebekiri{
    width: 10rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 8rem;
  }
    .schedule-button-group {
    gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 393px) and (max-height: 873px) and (orientation: portrait) {
}
@media (max-width: 390px) and (max-height: 844px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 12rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.5rem;
    width: 6rem;
    font-size: 0.8rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 7rem;
  }
  .title-owik {
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
    .title-img{
    width: 15rem;
    padding-bottom: 8rem;
  }
  .bebekiri{
    width: 10rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 9rem;
  }
    .schedule-button-group {
    gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0rem;
  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 384px) and (max-height: 824px) and (orientation: portrait) {
}
@media (max-width: 375px) and (max-height: 667px) and (orientation: portrait) {
.schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 12rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.5rem;
    width: 6rem;
    font-size: 0.8rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 6rem;
  }
  .title-owik {
    font-size: 1.8rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 15rem;
    padding-bottom: 8rem;
  }
  .bebekiri{
    width: 10rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 9rem;
  }
    .schedule-button-group {
    gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0rem;
  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 360px) and (max-height: 780px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 15rem;
    min-height: 13rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 5rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 3.5rem;
  }
  .title-owik {
    font-size: 1.8rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 20rem;
    padding-bottom: 5rem;
  }
  .bebekiri{
    width: 10rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 8rem;
  }
    .schedule-button-group {
    gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}
@media (max-width: 360px) and (max-height: 740px) and (orientation: portrait) {
}
@media (max-width: 344px) and (max-height: 882px) and (orientation: portrait) {
  .schedule-title-img{
    display: none;
  }
  .schedule-title-img-mb{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -0rem;
  }
  .pillar-left{
    left: -3rem;
  }
  .pillar-right{
    right: -3rem;
  }
  .schedule-card {
    width: 12rem;
    min-height: 13rem;
    padding-top: 1.5rem;
  }
  .button-schedule{
    padding: 0.4rem;
    width: 5rem;
    font-size: 0.7rem;
  }
  .button-dresscode{
    width: 4rem;
    height: auto;
  }
  .button-left{
    width: 2rem;
    height: auto;
    margin-left: 3rem;
  }
  .button-right{
    width: 2rem;
    height: auto;
    margin-right: 4rem;
  }
  .schedule-wrapper {
    padding-bottom: 3rem;
  }
  .title-owik {
    font-size: 1.8rem;
    margin-top: 5%;
    margin-bottom: 1rem;
    padding-bottom: 0rem;
    padding-top: 5rem;
  }
    .title-img{
    width: 20rem;
    padding-bottom: 10rem;
  }
  .bebekiri{
    width: 10rem;
    bottom: -2rem;
  }
  .bebekanan{
    width: 8rem;
  }
    .schedule-button-group {
    gap: 1rem;
  }
  .penugasan{
    margin-left: 2rem;
  }
  .ketentuan{
    margin-right: 2rem;
  }
    .schedule-item-title{
    font-size: 1rem;
    margin-bottom: 0rem;
    line-height: 1rem;
  }
  .schedule-item-desc{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;

  }
  .schedule-sessions-list{
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }
      .star{
    width: 50rem;
  }
}

