:root {
  background-color: #e7bc68;
  color-scheme: light only;
  -webkitcolor-scheme: light only;
  /* --button-left-gradient: #FFF0B8;
  --button-right-gradient: #FFD054; */
  /* --button-left-border: #F2B028;
  --button-right-border: #FFF0B8; */

  --countdown-top-gradient: #75ABDC;
  --countdown-bottom-gradient: #FFF0B8;
  --countdown-card: #fff0b8;

  --button-selected-left-gradient: #75ABDC;
  --button-selected-right-gradient: #B2D5F1;
}

@property --button-left-gradient {
  syntax: '<color>';
  initial-value: #FFF0B8;
  inherits: false;
}

@property --button-right-gradient {
  syntax: '<color>';
  initial-value:  #FFD054;
  inherits: false;
}
@property --button-left-border{
  syntax: '<color>';
  initial-value: #F2B028;
  inherits: false;
}
@property --button-right-border{
  syntax: '<color>';
  initial-value: #FFF0B8;
  inherits: false;
}

.button-navbar {
  cursor: pointer;
  border: 4px solid transparent;
  --button-left-gradient: #FFF0B8;
  --button-right-gradient: #FFD054;
  --button-left-border: #F2B028;
  --button-right-border: #FFF0B8;
  background-image: linear-gradient(90deg, var(--button-left-gradient), var(--button-right-gradient)),
    radial-gradient(circle at top left, var(--button-left-border), var(--button-right-border));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition:  --button-left-gradient 300ms,  --button-right-gradient 300ms;

}
.button-navbar:hover, .button-navbar:focus {
  cursor: pointer;
  border: 4px solid transparent;
   --button-left-gradient: #75ABDC;
  --button-right-gradient: #B2D5F1;
  --button-left-border: #F2B028;
  --button-right-border: #FFF0B8;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.button-navbar-selected {
  background: linear-gradient(90deg, var(--button-selected-left-gradient), var(--button-selected-right-gradient));
  cursor: pointer;
  border: 4px solid transparent;
  
  background-image: linear-gradient(90deg, var(--button-selected-left-gradient), var(--button-selected-right-gradient)), radial-gradient(circle at top left, #F2B028,#FFF0B8);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.count-down-card{
  cursor: pointer;
  border: 4px solid transparent;
  
  background-image: linear-gradient(180deg, var(--countdown-card), var(--countdown-card)), radial-gradient(circle at top, #75ABDC, #FFF0B8);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-blend-mode: screen;
  opacity: 95%;
}
.count-down-text-card{
    cursor: pointer;
  border: 4px solid transparent;
  
   background-image:
    linear-gradient(180deg, rgba(255, 240, 184, 0.75), rgba(255, 240, 184, 0.75)), /* card background */
    linear-gradient(180deg, #FFF0B8 0%, #75ABDC 100%); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-blend-mode: screen;
  opacity: 95%;
}
.rules-card{
   cursor: pointer;
  border: 6px solid transparent;
  
   background-image:
    linear-gradient(180deg, rgba(255, 240, 184, 0.95), rgba(255, 240, 184, 0.95)), /* card background */
    linear-gradient(180deg, #FFF0B8 0%, #75ABDC 100%); /* border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-blend-mode: screen;
  opacity: 90%;
}